<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Permiso Denegado</h2>
                <div class="error-details">
                  No tienes los suficientes permisos para acceder
                </div>
                <div class="error-actions">
                    <a routerLink="/home" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Ir a Home </a><a routerLink="/about" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contactar a Soporte </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  