<div class="sections-wrapper">
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <img class="profile-image img-fluid float-start rounded-circle" src="assets/images/profile.png"
                        alt="profile image" />
                    <div class="profile-content">
                        <h1 class="name">Daniel Rubén de Brito</h1>
                        <h2 class="desc">Web App Developer</h2>
                        <br />
                        <br />
                        <div align="center" class="socialbtns">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100008288854505" target="_blank"
                                        class="fa fa-lg fa-facebook"></a></li>
                                <li><a href="https://twitter.com/gronchostyle" target="_blank"
                                        class="fa fa-lg fa-twitter"></a></li>
                                <li><a href="https://github.com/danieldebrito?tab=repositories" target="_blank"
                                        class="fa fa-lg fa-github"></a></li>
                                <li><a href="https://pin.it/6ULGR1k" target="_blank" class="fa fa-lg fa-pinterest"></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/danielrdebrito/" target="_blank"
                                        class="fa fa-lg fa-linkedin"></a></li>
                                <li><a href="https://www.instagram.com/groncho_style/" target="_blank"
                                        class="fa fa-lg fa-instagram"></a></li>
                                <li><a href="https://www.youtube.com/channel/UCW20HVj2uUn6rneu81HBZ3g" target="_blank"
                                        class="fa fa-lg fa-youtube"></a></li>
                            </ul>
                        </div>

                    </div><!--//profile-->
                </div><!--//col-->
                <div class="col-12 col-md-auto">
                    <a class="btn btn-cta-primary" href="mailto:danielrdebrito@gmail.com" target="_blank"><i
                            class="fa fa-paper-plane"></i> Contactame</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//container-->
    </header><!--//header-->

    <div class="container  py-5">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Acerca de</h2>
                        <div class="content">
                            <p>Poseo amplia experiencia en el sector automotriz, especialmente en Sistemas, Compras,
                                Costos y Calidad. Actualmente, me desempeño como Desarrollador Web y Encargado de
                                Compras y Costos en Juntas Meyro, empresa líder en la fabricación de autopartes y
                                repuestos. He liderado con éxito el desarrollo de la página web e-commerce de la
                                empresa y la implementación de aplicaciones internas para la gestión de compras,
                                programación de producción, entre otros aspectos. Soy un aprendiz autodidacta,
                                altamente proactivo y apasionado por trabajar en equipo en proyectos desafiantes que
                                me permitan seguir creciendo profesionalmente.
                            </p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Mi Juego</h2>
                        <div class="content">

                            <div class="item featured text-center">

                                <div class="featured-image has-ribbon">
                                    <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/"
                                        target="_blank">
                                        <img class="img-fluid project-image rounded shadow-sm"
                                            src="assets/images/projects/project-featured.jpg" alt="project name" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                    </div>
                                </div>

                                <h3 class="title mb-3"><a>Tragamonedas - Probá tu suerte con la maquinola</a>
                                </h3>

                                <div class="desc text-start">
                                    <p> El juego de tragamonedas consiste de 3 carretes que contienen diferentes
                                        símbolos. Los jugadores hacen girar los carretes y esperan que los símbolos se
                                        alineen de manera que queden tres simbolos iguales para ganar premios.</p>
                                </div><!--//desc-->
                                <a class="btn btn-cta-secondary"
                                routerLink="/juegos/tragamonedas">Tragamonedas</a>
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-12"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
                                    target="_blank">
                                    <img class="img-fluid project-image rounded shadow-sm"
                                        src="assets/images/projects/project-1.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
                                            target="_blank">CoderPro - Boootstrap Startup Template For Software
                                            Projects</a></h3>
                                    <p class="mb-2">You can put one of your secondary projects here. Suspendisse in
                                        tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                                        Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget
                                        iaculis ante dolor non turpis.</p>
                                    <p><a class="more-link"
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
                                            target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a>
                                    </p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-12"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                                    target="_blank">
                                    <img class="img-fluid project-image rounded shadow-sm"
                                        src="assets/images/projects/project-2.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                                            target="_blank">DevCard - Boootstrap Portfolio Template for Software
                                            Developers</a></h3>
                                    <p class="mb-2">You can put one of your secondary projects here. Suspendisse in
                                        tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                                        Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget
                                        iaculis ante dolor non turpis.</p>
                                    <p><a class="more-link"
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                                            target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a>
                                    </p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-12"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/"
                                    target="_blank">
                                    <img class="img-fluid project-image rounded shadow-sm"
                                        src="assets/images/projects/project-3.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/"
                                            target="_blank">Instance - Boootstrap Portfolio Template for Aspiring Full
                                            Stack Developers</a></h3>
                                    <p class="mb-2">You can put one of your secondary projects here. Suspendisse in
                                        tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                                        Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget
                                        iaculis ante dolor non turpis.</p>
                                    <p><a class="more-link"
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/"
                                            target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a>
                                    </p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-12"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/"
                                    target="_blank">
                                    <img class="img-fluid project-image rounded shadow-sm"
                                        src="assets/images/projects/project-4.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/"
                                            target="_blank">Nova Pro - Boootstrap Template for Mobile Startups</a></h3>
                                    <p class="mb-2">You can put one of your secondary projects here. Suspendisse in
                                        tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.</p>
                                    <p><a class="more-link"
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/"
                                            target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a>
                                    </p>
                                </div><!--//desc-->
                            </div><!--//item-->
                            <div class="item row">
                                <a class="col-md-4 col-12"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/"
                                    target="_blank">
                                    <img class="img-fluid project-image rounded shadow-sm"
                                        src="assets/images/projects/project-5.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/"
                                            target="_blank">DevStudio - Boootstrap Template for WebDev Agencies and
                                            Freelance Developers</a></h3>
                                    <p class="mb-2"> You can put one of your secondary projects here. Quisque rutrum.
                                        Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                                        ultricies nisi.</p>
                                    <p><a class="more-link"
                                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devstudio-bootstrap-theme-for-web-development-agencies-and-developers/"
                                            target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a>
                                    </p>
                                </div><!--//desc-->
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="github section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">My GitHub</h2>
                        <div class="row align-items-md-stretch">
                            <div class="col-md-12">
                                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                                    <div class="row">
                                        <div class="card mb-3" style="max-width: 540px; background-color: black;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img [src]="dataGit.avatar_url" class="img-fluid rounded-start"
                                                        alt="...">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Soy: {{ dataGit.login }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <h2>Mis Repos</h2>
                                            <div class="container-fluid">
                                                <table class="table table-striped table-bordered">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col">id</th>
                                                            <th scope="col">nombre</th>
                                                            <th scope="col">url</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let item of repos  | paginate: { itemsPerPage: 6, currentPage: p }">
                                                            <td> {{ item.id }} </td>
                                                            <td> {{ item.name }} </td>
                                                            <td> {{ item.html_url }} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <pagination-controls (pageChange)="p = $event" previousLabel="Previo"
                                                    nextLabel="Siguiente"></pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--//secton-inner-->
                </section><!--//section-->




            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>
                                    Lanús, Bs As
                                </li>
                                <li><i class="fa fa-mobile-phone p-2"></i><span class="sr-only"> Cel:
                                    </span><a>116-352-0291</a></li>
                                <li><i class="fa fa-envelope p-2"></i><span class="sr-only"> Email: </span><a
                                        href="mailto:danielrdebrito@gmail.com">danielrdebrito@gmail.com</a></li>
                                <li><i class="fa fa-link p-2"></i><span class="sr-only"> Website: </span><a
                                        href="http://www.danieldebrito.com.ar"
                                        target="_blank">https://www.danieldebrito.com.ar</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner shadow-sm rounded">
                        <div class="content">

                            <section class="skills" id="skills">
                                <h2 class="skill-header">Skills</h2>

                                <div class="skills-wrapper">
                                    <div class="first-set animate__animated animate__pulse">
                                        <img src="assets/icons/skills/Angular-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/Bootstrap.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/CSS.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/Firebase-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/Github-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/JQuery.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/Laravel-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/Linux-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/MySQL-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/NodeJS-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                        <img src="assets/icons/skills/PHP-Light.svg" alt="" loading="lazy"
                                            class="icon icon-card" />
                                    </div>
                                </div>
                            </section>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <br>
                <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Estudios</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Técnico Universitario en
                                    Programación</h3>
                                <h4 class="university">UTN AVELLANEDA <span class="year">(2006 - 2023)</span>
                                </h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Técnico Mecánico</h3>
                                <h4 class="university">ETU Nº8 - Almafuerte de Lanús <span
                                        class="year">(2013-2017)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Idioma Inglés - Portugués</h3>
                                <h4 class="university">EMIL Lanús </h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Experiencia Laboral</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Desarrollador Web <br> <span class="place"><a href="#">Juntas
                                            Meyro </a></span><br>
                                    <span class="year">(jul. 2018 - actualidad)</span>
                                </h3>
                                <p>Desarrollo de aplicaciones web full Stack con tecnologías:
                                    Angular - CSS3 - HTML5 - Bootstrap5 - Ionic
                                    Node.js - PHP Laravel - Firebase - MySQL.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Responsable de Compras y Costos <br> <span class="place"><a
                                            href="#">Juntas
                                            Meyro </a></span><br>
                                    <span class="year">(jul. 2006 - actualidad)</span>
                                </h3>
                                <p>Gestión integral de compras e inventarios, desarrollo de nuevos
                                    proveedores, negociación de precios, condición de pago y plazos de
                                    entrega, contratación de servicios, seguimiento y análisis de plazos de
                                    entrega, calificación de proveedores, calidad y rechazos por proveedor,
                                    gestión de cuentas corrientes, generación órdenes de pago.</p>
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="title">Gestión de calidad <br> <span class="place"><a href="#">Juntas
                                            Meyro </a></span><br>
                                    <span class="year">(Sept. 1996 - 2006)</span>
                                </h3>
                                <p>Confección de procedimientos, política, objetivos y manual de la calidad,
                                    indicadores, administración de documentación interna, realización de
                                    auditorías internas y atención de externas, gestión de no conformidades,
                                    acciones correctivas, preventivas “mejora continua”, capacitación sobre la
                                    filosofía de calidad de la empresa, auditores internos.</p>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->


            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->
</div>