<nav class="navbar amatic navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Ninth navbar example">
    <div class="container-xl">
      <a class="navbar-brand" routerLink="/home">Sala de Juegos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
        aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Juegos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/juegos/ahorcado">Ahorcado</a></li>
              <li><a class="dropdown-item" routerLink="/juegos/mayormenor">Mayor o Menor</a></li>
              <li><a class="dropdown-item" routerLink="/juegos/preguntadosdos">Preguntados (Simpsons)</a></li>
              <li><a class="dropdown-item" routerLink="/juegos/tragamonedas">Tragamonedas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/scores">Puntuacion</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Info del TP
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/assets/files/consigna.pdf" target="_blank">Consigna TP</a></li>
              <li><a class="dropdown-item" routerLink="/assets/files/sprints.txt" target="_blank">Sprints</a></li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" routerLink="/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about">¿Quien Soy?</a>
          </li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right" *ngIf="authService.userData as user; else login">
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ authService.userData.email }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="authService.SignOut()">Sign Out</a></li>
            </ul>
          </li>
  
        </ul>
  
        <ng-template #login>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link btn btn-success" routerLink="/sign-in">Ingresá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-success" routerLink="/sign-up">Creá tu cuenta</a>
            </li>
          </ul>
        </ng-template>
  
      </div>
    </div>
  </nav>